.product-container {
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }

  .product-display {
    height: auto;
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .thumbnail-list {
      width: fit-content;
      display: flex;

      .product-thumbnail {
        height: 3rem;
        width: 3rem;
        background-color: #fff;
        border: 3px solid #ccc;
        cursor: pointer;

        display: flex;
        justify-content: center;

        transition: all 0.3s;

        img {
          height: 100%;
        }

        &:not(:first-child) {
          margin-left: 10px;
        }

        &.image-selected {
          border: 3px solid #000;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
