.product-container {
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }

  .product-display {
    height: auto;
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .thumbnail-list {
      width: fit-content;
      display: flex;

      .product-thumbnail {
        height: 3rem;
        width: 3rem;
        background-color: #fff;
        border: 3px solid #ccc;
        cursor: pointer;

        display: flex;
        justify-content: center;

        transition: all 0.3s;

        img {
          height: 100%;
        }

        &:not(:first-child) {
          margin-left: 10px;
        }

        &.image-selected {
          border: 3px solid #000;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;

    .product-name {
      font-size: 24px;
      font-weight: bold;
    }

    .product-price {
      font-size: 18px;
      font-weight: bold;
      color: #00d;
      margin-top: 1rem;
    }
    .product-details {
      ul {
        margin: 0;
        padding: 0;
        box-sizing: content-box;

        li {
          padding: 0;
          list-style-position: inside;
          margin-bottom: 10px;
        }
      }
    }

    .product-other-options {
      .row {
        display: flex;
        flex-direction: row;
      }

      .product-option:not(:first-child) {
        margin-left: 15px;
      }
    }

    @media only screen and (max-width: 768px) {
      width: 100%;
      margin-top: 2rem;
      padding-left: 0;

      .product-name,
      .product-price {
        text-align: center;
      }
    }
  }
}
