.product-option {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}
